<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>极光严选</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/product.css">
    <link rel="stylesheet" href="css/search.css">
    <!-- <script src="js/jquery-1.12.4.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/million.js"></script> -->
</head>
<!--angular入口-->
<body ng-app="yanxuan" ng-controller="searchController">
<!-- 顶部导航条区域开始 -->
<div class="top_bar">
    <div class="inner_c">
        <!-- 发货城市开始 -->
        <div class="s_city">
            <span>送货至:</span>
            <div class="cur_city">
                <span>四川</span>
                <div class="s_city_bg">
                    <span class="arrow_top"></span>
                    <h4>请选择所在的收货地区</h4>
                    <ul>
                        <li>
                            <span>A</span>
                            <a href="javascript:void(0);">安徽</a>
                            <a href="javascript:void(0);">澳门</a>
                        </li>
                        <li>
                            <span>B</span>
                            <a href="javascript:void(0);">北京</a>
                        </li>
                        <li>
                            <span>C</span>
                            <a href="javascript:void(0);">重庆</a>
                        </li>
                        <li>
                            <span>F</span>
                            <a href="javascript:void(0);">福建</a>
                        </li>
                        <li>
                            <span>G</span>
                            <a href="javascript:void(0);">广东</a>
                            <a href="javascript:void(0);">广西</a>
                            <a href="javascript:void(0);">贵州</a>
                            <a href="javascript:void(0);">甘肃</a>
                        </li>
                        <li>
                            <span>H</span>
                            <a href="javascript:void(0);">河北</a>
                            <a href="javascript:void(0);">河南</a>
                            <a href="javascript:void(0);">黑龙江</a>
                            <a href="javascript:void(0);">海南</a>
                            <a href="javascript:void(0);">湖北</a>
                            <a href="javascript:void(0);">湖南</a>
                        </li>
                        <li>
                            <span>J</span>
                            <a href="javascript:void(0);">江苏</a>
                            <a href="javascript:void(0);">吉林</a>
                            <a href="javascript:void(0);">江西</a>
                        </li>
                        <li>
                            <span>L</span>
                            <a href="javascript:void(0);">辽宁</a>
                        </li>
                        <li>
                            <span>N</span>
                            <a href="javascript:void(0);">内蒙古</a>
                            <a href="javascript:void(0);">宁夏</a>
                        </li>
                        <li>
                            <span>Q</span>
                            <a href="javascript:void(0);">青海</a>
                        </li>
                        <li>
                            <span>S</span>
                            <a href="javascript:void(0);">上海</a>
                            <a href="javascript:void(0);">山东</a>
                            <a href="javascript:void(0);">山西</a>
                            <a href="javascript:void(0);" class="cur">四川</a>
                            <a href="javascript:void(0);">陕西</a>
                        </li>
                        <li>
                            <span>T</span>
                            <a href="javascript:void(0);">台湾</a>
                            <a href="javascript:void(0);">天津</a>
                        </li>
                        <li>
                            <span>X</span>
                            <a href="javascript:void(0);">西藏</a>
                            <a href="javascript:void(0);">香港</a>
                            <a href="javascript:void(0);">新疆</a>
                        </li>
                        <li>
                            <span>Y</span>
                            <a href="javascript:void(0);">云南</a>
                        </li>
                        <li>
                            <span>Z</span>
                            <a href="javascript:void(0);">浙江</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 发货城市结束 -->
        <div class="top_nav">
            <div class="fl">
                <a href="#" class="login">登录</a>
                <a href="#" class="regist">注册</a>
            </div>
            <div class="fr">
                <a href="#">我的订单</a>
                <span>|</span>
                <a href="#">收藏夹</a>
                <span>|</span>
                <a href="#">网站导航</a>
                <span>|</span>
                <a href="#">客户服务</a>
                <span>|</span>
                <a href="#" class="app">APP</a>
            </div>
        </div>
    </div>
</div>
<!-- 顶部导航条区域结束 -->
<!-- header、logo、搜索区域 -->
<div class="header inner_c">
    <!-- logo -->
    <h1 class="logo"><a href="index.html"></a></h1>
    <!-- 搜索框区域 -->
    <div class="search">
        <form class="top">
            <!--数据绑定-->
            <input type="search" placeholder="请输入您感兴趣的商品、品牌" class="search_box" ng-model="queryParams.keywords">
            <!--发送get请求-->
            <input type="submit" value="搜索" class="btn" ng-click="search()">
        </form>
        <p class="exm">
            <a href="#">咖啡</a>
            <a href="#" class="iphone">iPhone6s</a>
            <a href="#">新鲜美食</a>
            <a href="#">蛋糕</a>
            <a href="#">日用品</a>
            <a href="#">连衣裙</a>
        </p>
    </div>
    <!-- 购物车 -->
    <div class="cart">
        <span class="name">购物车</span>
        <span class="number">3</span>
    </div>
</div>
<!-- header、logo、搜索区域结束 -->
<!-- 导航部分 -->
<div class="nav inner_c">
    <!-- 分类部分 -->
    <div class="classify">
        <h2>全部商品分类</h2>
        <ul class="list">
            <li><a href="#">进口食品、生鲜</a></li>
            <li><a href="#">食品、饮料、酒</a></li>
            <li><a href="#">母婴、玩具、童装</a></li>
            <li><a href="#">家居、家庭清洁、纸品</a></li>
            <li><a href="#">美妆、个人护理、洗护</a></li>
            <li><a href="#">女装、内衣、中老年</a></li>
            <li><a href="#">鞋靴、箱包、腕表配饰</a></li>
            <li><a href="#">男装、运动</a></li>
            <li><a href="#">手机、小家电、电脑</a></li>
            <li><a href="#">礼品、充值</a></li>
        </ul>
    </div>
    <!-- 分类部分结束 -->
    <!-- 大分类导航 -->
    <ul class="main_nav">
        <li><a href="#">首页</a></li>
        <li><a href="#">美食</a></li>
        <li><a href="#">生鲜</a></li>
        <li><a href="#">家居</a></li>
        <li><a href="#">女装</a></li>
        <li><a href="#">美妆</a></li>
        <li><a href="#">数码</a></li>
        <li class="well"><span>|</span><a href="#">严选好物</a></li>
        <li class="global"><a href="#">全球选</a></li>
    </ul>
    <!-- 大分类导航结束 -->
</div>
<div class="nav_line"></div>
<!-- 导航部分结束 -->
<!-- 面包屑导航开始 -->
<div class="bread_nav inner_c">
    <span>全部结果</span>
    <span class="arrow_right"></span>
    <div class="bit_nav" ng-if="queryParams.categoty !== undefined ">
        <span>类目：{{queryParams.category}}</span>
        <a href="javascript:;" ng-click="removeSearchOption('category')"></a>
    </div>
    <div class="bit_nav" ng-if="queryParams.brand !== undefined">
        <span>品牌：{{queryParams.brand}}</span>
        <a href="javascript:;" ng-click="removeSearchOption('brand')"></a>
    </div>
    <div class="bit_nav" ng-repeat="(key,value) in queryParams.spec">
        <span>{{key}}：{{value}}</span>
        <a href="javascript:;" ng-click="removeSearchOption(key)"></a>
    </div>
    <div class="bit_nav" ng-if="queryParams.price !== undefined">
        <span>价格：{{queryParams.price}}</span>
        <a href="javascript:;" ng-click="removeSearchOption('price')"></a>
    </div>
</div>
<!-- 面包屑导航结束 -->
<!-- 搜索内容部分 -->
<div class="pdd inner_c search_con clearfix">
    <!-- 用户还喜欢 -->
    <div class="user_like">
        <h5>极光推荐</h5>
        <ul class="like_res">
            <li>
                <img src="images/like_res_01.png" alt="">
                <span>￥499</span>
                <p>迪奥圣母院系列香氛100ml</p>
            </li>
            <li>
                <img src="images/like_res_02.png" alt="">
                <span>￥499</span>
                <p>迪奥圣母院系列香氛100ml</p>
            </li>
        </ul>
    </div>
    <!-- 商品详情 -->
    <div class="pdd_deta">
        <ul class="screen">
            <li ng-if="categoryList !== undefined && queryParams.category === undefined">
                <h6>类目：</h6>
                <div>
                    <a href="javascript:;" ng-repeat="value in categoryList" ng-click="addSearchOption('category', value)">{{value}}</a>
                </div>
            </li>
            <li ng-if="brandList !== undefined && queryParams.brand === undefined">
                <h6>品牌：</h6>
                <div>
                    <a href="javascript:;" ng-repeat="brand in brandList" ng-click="addSearchOption('brand', brand.name)">{{brand.name}}</a>
                </div>
                <a href="javascript:;" class="more">更多</a>
            </li>
            <li>
                <h6>价格：</h6>
                <div>
                    <a href="javascript:;" ng-click="addSearchOption('price', '0-199')">0-199</a>
                    <a href="javascript:;" ng-click="addSearchOption('price', '200-399')">200-399</a>
                    <a href="javascript:;" ng-click="addSearchOption('price', '400-599')">400-599</a>
                    <a href="javascript:;" ng-click="addSearchOption('price', '600-899')">600-899</a>
                    <a href="javascript:;" ng-click="addSearchOption('price', '900-1299')">900-1299</a>
                    <a href="javascript:;" ng-click="addSearchOption('price', '5000-6000')">5000-6000</a>
                    <a href="javascript:;" ng-click="addSearchOption('price', '6001-*')">6001以上</a>
                </div>
            </li>
            <li ng-repeat="spec in specList">
                <h6>{{spec.name}}：</h6>
                <div>
                    <a href="javascript:;" ng-repeat="option in spec.optionList" ng-click="addSearchOption(spec.name, option.name)">{{option.name}}</a>
                </div>
            </li>
        </ul>
        <div class="screen_cond">
            <ul>
                <li class="current">综合</li>
                <li>销量</li>
                <li>价格</li>
                <li>新品</li>
            </ul>
            <div class="flip">
                <a href="javascript:;" class="btn_left"></a>
                <span>1</span>
                <span>/</span>
                <span>3</span>
                <a href="javascript:;" class="btn_right"></a>
            </div>
        </div>
        <ul class="product_list clearfix">
            <li ng-repeat="data in dataList">
                <div>
                    <a href="javascript:;"><img src="{{data.picUrl[0]}}" alt="{{data.sellPoint}}" title="{{data.sellPoint}}"></a>
                    <span class="collect">收藏</span>
                </div>
                <span>￥{{data.price}}</span>
                <p title="{{data.sellPoint}}"><a href="" ng-bind-html="data.label | to_trusted"></a></p>
                <p>{{data.sellerName}}</p>
                <a href="javascript:;" class="cart_btn">加入购物车</a>
            </li>
        </ul>
        <div class="page_swit">
            <a href="javascript:;" class="last_page">&lt;上一页</a>
            <a href="javascript:;" class="page_num current">1</a>
            <a href="javascript:;" class="page_num">2</a>
            <a href="javascript:;" class="page_num">3</a>
            <a href="javascript:;" class="page_num">4</a>
            <a href="javascript:;" class="page_num">5</a>
            <span>···</span>
            <a href="javascript:;" class="next_page">下一页&gt;</a>
            <span>共7页</span>
            <span>到第</span>
            <input type="text">
            <span>页</span>
            <button>确定</button>
        </div>
    </div>
</div>
<!-- 搜索内容结束 -->
<!-- 猜您喜欢部分 -->
<h5 class="guess_tit inner_c">猜您想要</h5>
<ul class="guess_like inner_c">
    <li>
        <img src="images/guees_01.png" alt="">
        <p>经典Poison香水</p>
    </li>
    <li>
        <img src="images/guees_02.png" alt="">
        <p>Channel透香</p>
    </li>
    <li>
        <img src="images/guees_03.png" alt="">
        <p>经典Poison香水</p>
    </li>
    <li>
        <img src="images/guees_04.png" alt="">
        <p>Channel透香</p>
    </li>
    <li>
        <img src="images/guees_05.png" alt="">
        <p>经典Poison香水</p>
    </li>
    <li>
        <img src="images/guees_06.png" alt="">
        <p>Channel透香</p>
    </li>
</ul>
<!-- 猜您喜欢结束 -->
<div class="promise inner_c">
    <ul>
        <li>
            <h4>正品保障</h4>
            <p>正品行货 放心购买</p>
        </li>
        <li>
            <h4>满38包邮</h4>
            <p>满38包邮 免运费</p>
        </li>
        <li>
            <h4>天天低价</h4>
            <p>天天低价 畅选无忧</p>
        </li>
        <li>
            <h4>准时送达</h4>
            <p>收货时间由你做主</p>
        </li>
    </ul>
</div>
<!-- 底部承诺内容部分结束 -->
<!-- 底部导航部分 -->
<div class="bottom_nav">
    <div class="inner_c bottom_nav_c">
        <dl>
            <dt>新手上路</dt>
            <dd>
                <a href="#">售后流程</a>
                <a href="#">购物流程</a>
                <a href="#">订购方式</a>
                <a href="#">隐私声明</a>
                <a href="#">推荐分享说明</a>
            </dd>
        </dl>
        <dl>
            <dt>配送与支付</dt>
            <dd>
                <a href="#">货到付款区域</a>
                <a href="#">配送支付查询</a>
                <a href="#">支付方式说明</a>
            </dd>
        </dl>
        <dl>
            <dt>会员中心</dt>
            <dd>
                <a href="#">资金管理</a>
                <a href="#">我的收藏</a>
                <a href="#">我的订单</a>
            </dd>
        </dl>
        <dl>
            <dt>服务保证</dt>
            <dd>
                <a href="#">退换货原则</a>
                <a href="#">售后服务保证</a>
                <a href="#">产品质量保证</a>
            </dd>
        </dl>
        <dl>
            <dt>联系我们</dt>
            <dd>
                <a href="#">网站故障报告</a>
                <a href="#">购物咨询</a>
                <a href="#">投诉与建议</a>
            </dd>
        </dl>
        <!-- 关于我们 -->
        <div class="aboutus">
            <a href="#" class="sina">新浪微博</a>
            <a href="#" class="qq">腾讯微博</a>
            <p>
                <span>服务热线：</span>
                <span>400-123-5564</span>
            </p>
        </div>
        <div class="focus">
            <img src="images/ewm.png" class="ewm">
            <img src="images/saoyisao.png" class=>
        </div>
    </div>
</div>
<!-- 底部导航部分结束 -->
<!-- 底部其他信息部分 -->
<div class="footer">
    <div class="inner_c">
        <p>备案/许可证编号：京ICP备12008899号-1-www.jgxy.cc Copyright © 2018-2018 极光严选网 All Rights Reserved. 复制必究 , Technical
            Support:
            Dgg Group</p>
        <p>
            <img src="images/footer_1.gif"><img src="images/footer_2.gif"><img src="images/footer_3.gif"><img
                src="images/footer_4.gif"><img src="images/footer_5.gif"><img src="images/footer_6.gif">
        </p>
    </div>
</div>
<!-- 底部其他信息部分结束 -->
<!-- 登录页开始 -->
<div class="mask log_on">
    <div class="log_box">
        <div class="log_tit">
            <a href="javascript:;">账号登录</a>
            <span>|</span>
            <a href="javascript:;">手机登录</a>
        </div>
        <form action="">
            <input type="text" placeholder="请输入用户名">
            <input type="password" placeholder="请输入密码">
            <div class="assist">
					<span>
						<input type="checkbox">保存登录信息
					</span>
                <a href="#" class="for_pass">忘记密码</a>
            </div>
            <input type="submit" value="登录" class="log_btn">
        </form>
        <span class="ple_reg">没有账号，<a href="#">立即注册</a></span>
        <a href="javascript:;" class="log_close">×</a>
    </div>
</div>
<!-- 登录页结束 -->
<!-- 注册页面开始 -->
<div class="mask register">
    <div class="reg_box">
        <h4>注册</h4>
        <form action="">
            <input type="text" placeholder="请输入用户名">
            <input type="password" placeholder="请输入密码">
            <input type="password" placeholder="请输入密码">
            <input type="email" placeholder="请输入邮箱">
            <input type="number" placeholder="请输入手机号码">
            <input type="text" placeholder="请输入验证码">
            <div class="assist">
                <input type="checkbox">我已阅读并接受
                <a href="#" class="user_agr">《用户协议》</a>
            </div>
            <input type="submit" value="注册" class="reg_btn">
        </form>
        <span class="ple_reg">已有账号，<a href="#">立即登录</a></span>
        <a href="javascript:;" class="log_close">×</a>
    </div>
</div>
<!-- 注册页面结束 -->
</body>
<!--引入angularJs-->
<script type="text/javascript" src="./plugins/angular/angular.min.js"></script>
<!--引入自定义js-->
<script type="text/javascript" src="js/custom/app.module.js"></script>
<script type="text/javascript" src="js/custom/app.service.js"></script>
<script type="text/javascript" src="js/custom/app.controller.js"></script>
<script type="text/javascript" src="js/custom/app.filter.js"></script>
</html>